.form {
  margin: 50px auto;
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: var(--silverColor);
  padding: 20px;
  border-radius: 10px;
}

.form__searchLabel,
.form__addLabel {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--blackColor);
}

.form__searchInput,
.form__addInput {
  border: 0;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons__item {
  width: 20%;
  margin-top: 10px;
  margin-right: 30px;

  border-radius: 10px;
  height: 60px;
  background-color: var(--purpleColor);
  color: white;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.form__button:hover {
  background-color: var(--hoverColor);
}
