@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --purpleColor: #643fdb;
  --blackColor: #000028;
  --silverColor: #f0f1f3;
  --hoverColor: #7959e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  height: 100vh;
}
